<div class="container">
<h1>Projects</h1>
<div class="col-offset-md-4"></div>
<div ng-hide="loggedIn" class="col-md-4">
  <p>Please login first.</p>
  <label for="username">Username:</label>
  <input id="username" type="text" class="form-control" placeholder="username" ng-model="user.username">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" class="form-control" placeholder="password" ng-model="user.password">
  <br>
  <button class="btn btn-large btn-primary" ng-click="login()">Login</button>
</div>
<div class="col-offset-md-4"></div>
</div>
<div class="container" ng-show="loggedIn">
  <h4>Search:</h4> <input type="text" ng-model="query" class="form-control" placeholder="Search">
  <ul class="list-unstyled">
    <li>
      <div class="row">
        <div class="col-md-3"><h4>Project</h4></div>
        <div class="col-md-3"><h4>Submitted by</h4></div>
        <div class="col-md-3"><h4>Last Modified</h4></div>
        <div class="col-md-3"><h4>Delete</h4></div>
    <li ng-repeat="crf in crfList | filter: query">
      <div class="row">
        <div class="col-md-3">
          <a href='#/output/{{crf.objectId}}' target="_blank">{{crf.ministryEventName}}</a>
        </div>
        <div class="col-md-3">
          {{crf.ministryProjectContact}}
        </div>
        <div class="col-md-3">
          {{crf.updatedAt}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-danger" ng-click="remove(crfList, $index, crf.objectId)">Deleted!</button>
        </div>
      </div>
    </li>
  </ul>
</div>
