<div style="margin-left: 10%; margin-right: 10%">
  <h1>Here is your completed form!</h1>
  <a href="#/edit/{{crf.objectId}}"><button class="btn btn-md btn-primary">Edit</button></a>
  <p ng-show="crf.revisions > 0">Revisions: {{crf.revisions}}</p>
  <div class="row">
  <h3>Ministry Info</h3>
    <div class="col-md-6">
      <strong>Event/Project Name:</strong> {{crf.ministryEventName}}
    </div>
    <div class="col-md-6"><strong>Ministry:</strong> {{crf.ministryChoice}}</div>
  </div>
  <div class="row">
    <div class="col-md-3"><strong>Project Contact:</strong> {{crf.ministryProjectContact}}</div>
    <div class="col-md-3"><strong>Contact phone:</strong> {{crf.ministryProjectContactPhone}}</div>
    <div class="col-md-3"><strong>Overseer: </strong>{{ministryOverseer}}</div>
    <div class="col-md-3"><strong>Overseer phone: </strong>{{ministryOverseerPhone}}</div>
  </div>
  <hr>
  <div class="row">
  <h3>Bulletin</h3>
    <div class="col-md-4"><strong>Spotlight copy:</strong><br>{{crf.bulletinSpotlightCopy}}<br>
    <strong>Dates:</strong>{{crf.bulletinSpotlightDates}}
    </div>
    <div class="col-md-4"><strong>Coming Soon copy:</strong><br>{{crf.bulletinComingSoonCopy}}<br>
    <strong>Dates:</strong> {{crf.bulletinComingSoonDates}}
    </div>
    <div class="col-md-4"><strong>This Week copy:</strong><br>{{crf.bulletinThisWeekCopy}}<br>
    <strong>Dates: </strong>{{crf.bulletinThisWeekDates}}
    </div>
  </div>
  <a href="#/">Submit another form</a>
</div>
