<h1>Form List!</h1>
<div ng-hide="loggedIn">
  <p>Please login first.</p>
  <label for="username">Username:</label>
  <input id="username" type="text" class="form-control" placeholder="username" ng-model="user.username">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" class="form-control" placeholder="password" ng-model="user.password">
  <br>
  <button class="btn btn-large btn-primary" ng-click="login()">Login</button>
</div>
<div class="container">
  <ul ng-show="loggedIn" class="list-unstyled">
    <li ng-repeat="crf in crfList">
      <div class="row">
        <div class="col-md-3">
          <a href='#/output/{{crf.objectId}}' target="_blank">{{crf.ministryEventName}}</a>
        </div>
        <div class="col-md-3">
          Submitted by: {{crf.ministryProjectContact}}
        </div>
        <div class="col-md-3">
          Last updated: {{crf.updatedAt}}
        </div>
        <div class="col-md-3">
          <button class="btn btn-xs btn-primary" ng-click="deleteCRF(crf.objectId)">Deleted!</button>
        </div>
      </div>
    </li>
  </ul>
</div>
