<div class="jumbotron">
  <h1>Communications Request Form</h1>
  <p>A comprehensive planning and promotion tool for Fellowship Bible Church ministry events and projects.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Get Started!</a></p>
</div>
<form role="form">
<div class="container">
  <h2>Indicate Requests:</h2>
  <p>Check off the items you'll need in your request, then fill out the form below.</p>

  <div class="row">
    <div class="col-xs-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="campusWidePromoCheck"> Campus-Wide Promotion
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="bulletinCheck"> Bulletin Announcement
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="tmafCheck"> "This Month" Announcement
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="onlineEventCheck"> Online Event Registration
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="connectionCenterCheck"> Connection Center Booth
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="printMediaCheck"> Print Media
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="websiteCheck"> Website
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="socialCheck"> Social Media
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="emailCheck"> Email Blast
        </label>
      </div>
    </div>
  </div>
  <p class="text-center"><strong>All events must be approved and placed on the church calendar prior to promotion.</strong></p>
<hr>
  <!-- Ministry Details -->
<h2>Ministry Details</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="ministry-event-or-project-name">Event or Project Name</label>
        <input type="text" class="form-control" id="ministry-event-or-project-name" placeholder="Event or Project Name" ng-model="form.ministryEventName">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
      <label for"ministry">Ministry</label>
        <input type="text" class="form-control" id="ministry" placeholder="Ministry" ng-model="form.ministryChoice">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="ministry-account">Account Number</label>
        <input type="number" class="form-control" id="ministry-account" placeholder="Account Number" ng-model="form.ministryAccount">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <label for="ministry-project-contact">Project Contact</label>
        <input type="text" class="form-control" id="ministry-project-contact" placeholder="Project Contact" ng-model="form.ministryProjectContact">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="ministry-contact-phone">Project Contact phone</label>
        <input type="tel" class="form-control" id="ministry-contact-phone" placeholder="Project Contact's phone" ng-model="form.ministryProjectContactPhone">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="ministry-overseer">Ministry Overseer</label>
        <input type="text" class="form-control" id="ministry-overseer" placeholder="Ministry Overseer" ng-model="form.ministryOverseer">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="ministry-overseer-phone">Overseer's phone</label>
        <input type="tel" class="form-control" id="ministry-overseer-phone" placeholder="Overseer's phone" ng-model="form.ministryOverseerPhone">
      </div>
    </div>
  </div>



<!-- <input type="checkbox" name="favoriteColors" ng-model="form.formData.favoriteColors.red"> Red -->


<hr>
<div ng-show="campusWidePromoCheck">
  <!-- Campus-Wide Promotion -->
<h2>Campus-Wide Promotion</h2>
  <div class="row">
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="campusWidePromotionCampus" ng-model="form.campusWidePromotionCampus.LR" ng-true-value="Little Rock" ng-false-value=""> Little Rock
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="campusWidePromotionCampus" ng-model="form.campusWidePromotionCampus.Benton" ng-true-value="Benton" ng-false-value=""> Benton
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="campusWidePromotionCampus" ng-model="form.campusWidePromotionCampus.Cabot" ng-true-value="Cabot" ng-false-value=""> Cabot
        </label>
      </div>
    </div>
  </div>
      <p>If selected for campus-wide promotion, your ministry will receive promotional space in the three-tier plaza signage, website home gallery, and MyFellowship app.</p>
  <hr>
</div>
<div ng-show="bulletinCheck">
  <!-- Bulletin Announcement -->
<h2>Bulletin Announcement</h2>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label for="bulletin-spotlight-copy">Bulletin Spotlight</label>
        <textarea class="form-control" id="bulletin-spotlight-copy" placeholder="55 words of description plus date, time, and location" rows="5" ng-model="form.bulletinSpotlightCopy"></textarea>
      </div>
      <div class="form-group">
        <label for="bulletin-spotlight-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="bulletin-spotlight-dates" ng-model="form.bulletinSpotlightDates">
      </div>
    </div>
    <div class="col-xs-4" style="border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee">
      <div class="form-group">
        <label for="bulletin-coming-soon-copy">Coming Soon</label>
        <textarea class="form-control" id="bulletin-coming-soon-copy" placeholder="Date, time, location, and 12-15 words describing the event" rows="5" ng-model="form.bulletinComingSoonCopy"></textarea>
      </div>
      <div class="form-group">
        <label for="bulletin-coming-soon-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="bulletin-coming-soon-dates" ng-model="form.bulletinComingSoonDates">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="bulletin-this-week-copy">This Week</label>
        <textarea class="form-control" id="bulletin-this-week-copy" placeholder="Date, time, and location only" rows="5" ng-model="form.bulletinThisWeekCopy"></textarea>
      </div>
      <div class="form-group">
        <label for="bulletin-this-week-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="bulletin-this-week-dates" ng-model="form.bulletinThisWeekDates">
      </div>
    </div>
  </div>
<hr>
</div>
<div ng-show="tmafCheck">
  <!-- TMAF Announcement -->
<h2>"This Month At Fellowship" Announcement</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="tmaf-copy">Announcement Copy</label>
        <textarea class="form-control" id="tmaf-copy" placeholder="Please keep all announcements at 50 words or less." rows="3" ng-model="form.tmafCopy"></textarea>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for "tmaf-month">Month Requested</label>
          <input type="text" placeholder="Month" class="form-control" id="tmaf-month" ng-model="form.tmafMonth">
      </div>
    </div>
  </div>
<hr>
</div>
<div ng-show="connectionCenterCheck">
<!-- Connection Center Booth -->
  <h2>Connection Center Booth</h2>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label for "connection-center-person">Person Staffing Area</label>
          <input type="text" placeholder="Person Staffing Area" class="form-control" id="connection-center-person" ng-model="form.connectionCenterPerson">
      </div>
    </div>
    <div class="col-xs-5">
      <div class="form-group">
        <label for "connection-center-items">Items Distributed</label>
          <input type="text" placeholder="Items Distributed" class="form-control" id="connection-center-items" ng-model="form.connectionCenterItems">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for "connection-center-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="connection-center-dates" ng-model="form.connectionCenterDates">
      </div>
    </div>
  </div>
<hr>
</div>
<div ng-show="printMediaCheck">
  <!-- Print Media -->
<h2>Print Media</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
      <label for="print-request-type">Kind of Request</label>
        <select class="form-control" id=
        "print-request-type" ng-model="form.printRequest" ng-options="opt as opt.label for opt in printRequestOptions"></select>
      </div>
      <div class="form-group">
        <label for="print-project-info">Project Information</label>
          <textarea placeholder="For external advertising needs, please contact the Communications Director." class="form-control" id="print-project-info" rows="30" ng-model="form.printProjectInfo"></textarea>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
      <h4>Theme Development (Logo/Identity)</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-logo-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-logo-dates" ng-model="form.printLogoDates">
          </div>
        </div>
      </div>

      <div class="row">
        <h4>Posters/Signs/Banners</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-posters-quantity">Quantity</label>
              <input type="number" placeholder="Quantity" class="form-control" id="print-posters-quantity" ng-model="form.printPostersQuantity">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-posters-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-posters-dates" ng-model="form.printPostersDates">
          </div>
        </div>
      </div>
      <div class="row">
          <h4>Flyers</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-flyers-quantity">Quantity</label>
              <input type="number" placeholder="Quantity" class="form-control" id="print-flyers-quantity" ng-model="form.printFlyersQuantity">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-flyers-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-flyers-dates" ng-model="form.printFlyersDates">
          </div>
        </div>
      </div>
      <div class="row">
          <h4>Brochures/Booklets</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-brochures-quantity">Quantity</label>
              <input type="number" placeholder="Quantity" class="form-control" id="print-brochures-quantity" ng-model="form.printBrochuresQuantity">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-brochures-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-brochures-dates" ng-model="form.printBrochuresDates">
          </div>
        </div>
      </div>
      <div class="row">
          <h4>Notebooks/Covers/Spines</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-notebooks-quantity">Quantity</label>
              <input type="number" placeholder="Quantity" class="form-control" id="print-notebooks-quantity" ng-model="form.printNotebooksQuantity">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-notebooks-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-notebooks-dates" ng-model="form.printNotebooksDates">
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Other</h4>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-other-quantity">Quantity</label>
              <input type="number" placeholder="Quantity" class="form-control" id="print-other-quantity" ng-model="form.printOtherQuantity">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="print-other-dates">Date(s) Requested</label>
              <input type="text" placeholder="Date(s) Requested" class="form-control" id="print-other-dates" ng-model="form.printOtherDates">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="print-other-description">Description</label>
              <textarea placeholder="Description" class="form-control" id="print-other-description" ng-model="form.printOtherDescription"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
</div>
<div ng-show="websiteCheck">
  <!-- Website -->
<h2>Website</h2>
  <div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label for="websiteSite">Site</label>
        <select class="form-control" id=
        "websiteSite" ng-model="form.websiteSite" ng-options="opt as opt.label for opt in websiteSiteOptions"></select>
    </div>
  </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="website-webpage">Web Page</label>
          <input type="text" placeholder="Web Page" class="form-control" id="website-webpage" ng-model="form.websiteWebpage">
      </div>
      <div class="form-group">
        <label for="website-copy-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="website-copy-dates" ng-model="form.websiteCopyDates">
      </div>
    </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="website-copy-text">Text</label>
          <textarea placeholder="Text" class="form-control" id="website-copy-text" ng-model="form.websiteCopyText"></textarea>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <h4>Graphics:</h4>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="websiteGfxType" ng-model="form.websiteGfxType.banner" ng-true-value="Banner" ng-false-value="">Banner
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="websiteGfxType" ng-model="form.websiteGfxType.image" ng-true-value="Image" ng-false-value=""> Image
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="websiteGfxType" ng-model="form.websiteGfxType.pdf" ng-true-value="PDF" ng-false-value=""> PDF
        </label>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="website-gfx-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="website-gfx-dates" ng-model="form.websiteGfxDates">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="website-gfx-description">Description</label>
          <textarea placeholder="Description" class="form-control" id="website-gfx-description" ng-model="form.websiteGfxDescription"></textarea>
      </div>
    </div>
  </div>
  <hr>
</div>
<div ng-show="socialCheck">
  <!-- Social Media -->
  <h2>Social Media Messaging</h2>
  <div class="row">
    <div class="col-xs-2">
      <h4>Campus:</h4>
    </div>

    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="socialCampus" ng-model="form.socialCampus.LR" ng-true-value="Little Rock" ng-false-value=""> Little Rock
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="socialCampus" ng-model="form.socialCampus.Benton" ng-true-value="Benton" ng-false-value=""> Benton
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="socialCampus" ng-model="form.socialCampus.Cabot" ng-true-value="Cabot" ng-false-value=""> Cabot
        </label>
      </div>
    </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="social-dates">Date(s) Requested</label>
            <input type="text" placeholder="Date(s) Requested" class="form-control" id="social-dates" ng-model="form.socialDates">
        </div>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="social-copy">Copy</label>
            <textarea placeholder="Draft text must be provided by the ministry when submitting CRF." class="form-control" id="social-copy" ng-model="form.socialCopy"></textarea>
        </div>
      </div>
    </div>
  <hr>
</div>
<div ng-show="emailCheck">
  <!-- Email Blast -->
<h2>Email Blast</h2>
  <div class="row">
    <div class="col-xs-2"><h4>Campus:</h4></div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="emailCampus" ng-model="form.emailCampus.LR" ng-true-value="Little Rock" ng-false-value=""> Little Rock
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="emailCampus" ng-model="form.emailCampus.Benton" ng-true-value="Benton" ng-false-value=""> Benton
        </label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="emailCampus" ng-model="form.emailCampus.Cabot" ng-true-value="Cabot" ng-false-value=""> Cabot
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email-list">Distribution List</label>
          <input type="text" placeholder="Distribution List" class="form-control" id="email-list" ng-model="form.emailList">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email-dates">Date(s) Requested</label>
          <input type="text" placeholder="Date(s) Requested" class="form-control" id="email-dates" ng-model="form.emailDates">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="email-copy">Copy</label>
          <textarea placeholder="Draft text must be provided by the ministry when submitting CRF." class="form-control" id="email-copy" ng-model="form.emailCopy"></textarea>
      </div>
        <div class="checkbox">
        <label>
          <input type="checkbox" name="emailEmbed" ng-model="form.emailEmbed" ng-true-value="Has Embed" ng-false-value="No Embed"> Graphics/Video Embed
        </label>
      </div>
    </div>
  </div>
<hr>
</div>
<div class="btn btn-lg btn-primary" ng-click="submitCRF()">Submit</div>
</form>
</div>
