<p>This is the login screen.</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label for="username">Username:</label>
      <input id="username" type="text" class="form-control" placeholder="username" ng-model="user.username">
      <br>
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control" placeholder="password" ng-model="user.password">
      <br>
      <button class="btn btn-large btn-primary" ng-click="loginUser()">Login</button>
      <button class="btn btn-large btn-primary" ng-click="signupUser()">Sign Up!</button>
    </div>
  </div>
</div>
